.skills
    padding-top: 120px
    background-color: #ebf0fc
    &__title
        color: $second-color
        text-align: center
    &__subtitle
        color: black
        margin-top: 5px
        text-align: center
    &__divider
        margin: 25px auto 0 auto
        @include before_divider
    &__languages
        display: grid
        grid-template-columns: repeat(4, minmax(200px, 1fr))
        grid-template-rows: minmax(200px, auto)
        grid-auto-rows: minmax(200px, auto)
        gap: 10px
        margin-top: 60px
        justify-items: center
    &__item
        position: relative
        height: 200px
        width: 200px
        background-color: transparent
        perspective: 1000px
        &__wrapper
            position: relative
            width: 100%
            height: 100%
            text-align: center
            transition: transform 0.7s
            transform-style: preserve-3d
        &:hover &__wrapper
            transform: rotateY(180deg)
        &_front
            position: absolute
            backface-visibility: hidden
            width: 100%
            height: 100%
            img
                width: 100%
                height: 100%
        &_back
            position: absolute
            backface-visibility: hidden
            width: 100%
            height: 100%
            transform: rotateY(180deg)
            .item__title
                margin-top: 20px
                color: black
                text-align: center
            .item__descr
                margin-top: 15px
                color: black
                font-weight: 500
                font-size: 12px
                line-height: 18px

    &__scales
        margin-top: 120px
        display: grid
        grid-template-columns: repeat(3, 1fr)
        grid-template-rows: repeat(2, auto)
        grid-auto-rows: auto
        row-gap: 30px
        column-gap: 45px
        .scales__item
            padding-top: 5px
            display: grid
            grid-template-columns: 300px 50px
            .scales__title
                color: black
            .scales__interest
                color: black
            .scales__scale
                grid-column: 1/3
                background-color: $second-color
                width: 100%
                height: 15px
                border-radius: 5px
                margin-top: 25px
                position: relative
                span
                    position: absolute
                    background-color: $main-color
                    height: 15px
                    border-radius: 5px